.container {
  width: 100vw;
}
.container .top-box {
  position: relative;
}
.top-box .bg-header {
  position: absolute;
  width: 100vw;
  height: 600px;
  background: #31343c;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}
.top-box .header {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.top-box .title {
  color: white;
  font-size: 64px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content .header {
  margin-top: 20px;
}
